 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 478px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: -6px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 338px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px;
}

.u-section-1 .u-group-elements-1 {
  width: 321px;
  min-height: 260px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 260px;
  height: 260px;
  background-image: url("images/g56d0e43513a062a0acac1fd5372cbd24cf39b28bb2534810bc96172815268da4902245b5401f32b6bda0bd5da8933caeb7f31263ca1149e9252d0b26cec229c5_1280.jpg");
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 116px;
  height: 116px;
  background-image: none;
  margin: -260px auto 0 0;
  padding: 32px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 338px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 1.6;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 34px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: 14px;
  }

  .u-section-1 .u-icon-1 {
    width: 87px;
    height: 87px;
    padding: 23px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}